.output-box {
    width: 48px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    visibility: hidden;
}

.output-box-calculating {
    visibility: visible;
}

div#div-circuit svg {
    width: 100% !important;

}

.input-appendant{
    width: 48px;
}

.input-appendant-wide{
    width: 96px;
}

.cursor-pointer{cursor: pointer;}